.grid {
  margin: 100px 0 0;
}

.button__container
{
  display: block;
  padding-bottom: 2rem;

}

.gui__container{
  height: 100vh;
  background-color: #0093E9;
  background-image: linear-gradient(315deg, #0093E9 0%, #80D0C7 100%);
}

.button{
  font-size: 25px;
}